{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}


  <!-- User's Neighborhood -->
  <div class="container" style="margin-top:15%">

    <h4 align="center" class="center-align">Welcome to the {{neighborhood.neighborhood_name}} Neighborhood, {{user.user.username}}</h4>
    
    <div class="row">
        <div class="col sm12 m12 l8 xl8">
            <div class="card">
              <div class="card-content">
                <div class="section">
                  <h5 align="center">Alerts and Meetings</h5>
                  
                </div>
                
                <div class="card-content">
                    <form action="{% url 'neighborhood' neighborhood.id %}" method="POST">
                      {% csrf_token %}
                      {% bootstrap_form form%}
                      <button class="btn" style="background-color:#ee6e73;" type="submit" name="action">Update <i class="fas fa-plus-circle"></i></button>
                    </form>
                  </div>

                  <div class="divider"></div>
                  {% if posts %}
                  {% for post in posts %}
                  <div class="section">
                    <h6 class="center-align">{{post.title}}</h6>
                    {% autoescape on %}
                    <p class="center-align">{{post.post_description | safe}}</p>
                    {% endautoescape %}
                    <p><strong>Posted on {{post.posted_on|date:'D,d M,Y'}} by {% if post.posted_by == request.user %}me{% else %}{{post.posted_by.username}}{% endif %}</strong></p>
                  </div>
                  <div class="divider"></div>
                  {% endfor %}
                  {% else %}
                  <h6>Nothing has been posted yet</h6>
                  {% endif %}
              </div>
          </div>
        </div>
        <div class="col s12 m12 l4 xl4">
            <div class="card">
              <div class="card-content">
                <h5 class="card-title center-align">Businesses</h5>
                <a href="/add_business"><i class="fas fa-briefcase "></i>
                {% if businesses %}
                <ul>
                  {% for business in businesses %}
                  <li>
                    <ul>
                      <li>
                        <h6>{{business.name}}</h6>
                      </li>
                      <li>Located At: {{business.business_location}}</li>
                      <li>Business email: {{business.email}}</li>
                    </ul>
                  </li>
                  {% endfor %}
                </ul>
                {% else %}
                <h6>No businesses yet</h6>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="w3-row">


              <div class="w3-row w3-center">
                  <br>
                  <div class="w3-col l6 m6 s12">
                     
                      <br>
   
                      <h3>Health Care Department</h3>
                      <div class="w3-card-4 w3-white w3-padding w3-margin ">
                          <header><h4><strong>Contact Information</strong></h4>
                              <hr>
                          </header>
                          <div class="w3-container w3-margin">
   
                              <p><i class="fas fa-at"></i> {{hood.name}} General Hospital</p>
                              <hr>
                              <p><i class="fas fa-map-marker-alt"></i> {{hood.name}} Main Road</p>
                              <hr>
                              <p><i class="fas fa-phone"></i>Emergency contact: 07111222333</p>
                              <hr>
                          </div>
   
   
                      </div>
   
                  </div>
   
                  <div class="w3-col l6 m6 s12 ">
                      
                      <br>
                      <h3>Police Department</h3>
                          <div class="w3-card-4 w3-white w3-padding w3-margin ">
                          <header><h4><strong>Contact Information</strong></h4>
                              <hr>
                          </header>
                          <div class="w3-container w3-margin">
   
                              <p><i class="fas fa-at"></i> {{hood.name}} Police Station</p>
                              <hr>
                              <p><i class="fas fa-map-marker-alt"></i> {{hood.name}} Main Road </p>
                              <hr>
                              <p><i class="fas fa-phone"></i> Emergency contact: 911</p>
                              <hr>
                          </div>
   
   
                      </div>
   
                  </div>
              </div>
   
   
          </div>
      </div>
    </div>
  {% endblock %}